/* HTML ELEMENTS */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat"
}

main {
  min-height: 1000px;
  padding: 5rem 5rem;
}

/* CUSTOM CLASSES */

#brand {
  font-family: 'Stalinist One';
  margin: 0;
}

.cdots {
  color: #99a8b2;
  width: 100px;
  margin: 5rem auto 0;
  border-style: dotted none none;
  border-width: 15px;
}

.text-container {
  margin-top: 5em;
  text-align: justify;
  line-height: 2;
}

.text-container.left-aligned {
  margin-right: auto;
}

.text-container.right-aligned {
  margin-left: auto;
}

.divider {
  width: 90%;
  height: 3px;
  margin: 1rem auto .5rem;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

.footer-icon:hover {
  width: 60px;
  height: 60px;
}

.footer-link {
  color: #ffffff;
}

.jumbotron {
  text-align: center;
  margin-bottom: 10rem;
  margin-top: 3rem;
  padding: 0;
  background-image: url(../images/screen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
}

.nav-link {
  margin: 0 1rem;
}

.nav-link.no-mr {
  margin-right: 0;
}

.profile-picture {
  width: 16rem;
  height: 16rem;
  margin: 8rem;
  border-radius: 100%;
  border-style: solid;
  border-color: #ffffff;
}

/* MEDIA QUERIES */

@media (max-width: 500px) { /* 300/96 = 3.125in = 7.93cm */

  .jumbotron {
    height: 10rem;
    margin-bottom: 7rem;
  }

  .profile-picture {
    width: 10rem;
    height: 10rem;
    margin: 5rem;
  }

}
