html {
  scroll-behavior: smooth;
}

main {
  padding: 0 10%;
  background-color: #ffffff;
}

.cdots {
  color: #99a8b2;
  width: 15%;
  margin: 20vh auto;
  border-style: dotted none none;
  border-width: 3vh;
}

.container-left {
  margin-top: 5em;
  text-align: justify;
  margin-right: auto;
  line-height: 2;
}

.container-right {
  margin-top: 5em;
  text-align: justify;
  margin-left: auto;
  line-height: 2;
}

.divider {
  width: 80%;
  height: 1vh;
  margin: 1em auto .5em;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

.footer-icon:hover {
  width: 60px;
  height: 60px;
}

.info-page {
  height: 100vh;
  padding-top: 5em;
}

.jumbotron {
  position: relative;
  margin-bottom: 130px;
  margin-top: 3rem;
  background-image: url(../images/screen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
}

.nav-link {
  margin: 0 1rem;
}

.profile-picture {
  display: block;
  width: 40vh;
  height: 40vh;
  margin-top: 10vh;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  border-width: 2%;
}

.spacer {
  height: 20vh;
}

#brand {
  font-family: 'Stalinist One';
  margin: 0;
}
